## 500 bit QRNG vs PRNG classification

**This notebook contains the code for inputting data from training sets, applying preprocessing methods from modules, and running data through GB and MLP classifiers**

In [55]:
#imports

from sklearn.model_selection import train_test_split
from modules.classification_model_skeletons import *
from modules.data_preprocessing import *

In [56]:
df = load_data_into_df('data/IBM_Superposition_QRNG_100qubit.txt', ['quantum', 'QPU'])

In [57]:
df_testing = filter_by_label(df, ['binary_number', 'quantum'])

# run below line if classifying by QPU, otherwise comment out 
# (first 40000 lines are QRNG data, next 40000 lines are PRNG data)
# df_testing = df_testing[:40000]

df_testing

                                           binary_number      quantum
0      0001011100100011110100100001101111000011010101...      quantum
1      0110101010000001110100000100111101101111110111...      quantum
2      1001001010000000001111010010111000100011110000...      quantum
3      0101100101110010001001011000011010111011101101...      quantum
4      1000101001000000111110011000010111010011111110...      quantum
...                                                  ...          ...
79995  0011111011100101010101000110001001011000010001...  non-quantum
79996  0001011001010010110001010111010010011110100000...  non-quantum
79997  1000001100011000110001111000010100100110111000...  non-quantum
79998  0101101010110011010011110011100011010000001101...  non-quantum
79999  0000001111111100110000011101100000000011101011...  non-quantum

[80000 rows x 2 columns]

In [58]:
# For testing with different input lengths (base length = 100)

df_testing_concatenated = concatenate_data(df_testing, 5)
df_testing_concatenated

                                       Concatenated_Data      quantum
0      0001011100100011110100100001101111000011010101...      quantum
1      0100010001000100101101000000001010001100001011...      quantum
2      1011101100100101010010110011110011110100100000...      quantum
3      1011011000101001001011011001010000000111100100...      quantum
4      0001100011000111101001010110010011110111010100...      quantum
...                                                  ...          ...
15995  0011010001100100000011101110101011110010110011...  non-quantum
15996  1011110111111010000111001000111010010110101111...  non-quantum
15997  0001100000111001101010000111100110100001001000...  non-quantum
15998  0010110111000001110100011101010010100111000011...  non-quantum
15999  0011111011100101010101000110001001011000010001...  non-quantum

[16000 rows x 2 columns]

In [59]:
# Applying preprocessing feature extraction tests:
tests = ['counts']
'''tests = ['counts', 'runs', 'unq_subsq', 'longest_run']'''

# See modules directory for function documentation
df_testing_features = apply_individual_qubit_functions(df_testing_concatenated, tests, 100)
df_testing_features

/Users/shrey/Dev/qc-classifier-experiments/modules/data_preprocessing.py:116: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{function}_qb_{qb}'] = qubitRes
/Users/shrey/Dev/qc-classifier-experiments/modules/data_preprocessing.py:116: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'{function}_qb_{qb}'] = qubitRes

,Concatenated_Data,quantum,counts_qb_0,counts_qb_1,counts_qb_2,counts_qb_3,counts_qb_4,counts_qb_5,counts_qb_6,counts_qb_7,...,counts_qb_90,counts_qb_91,counts_qb_92,counts_qb_93,counts_qb_94,counts_qb_95,counts_qb_96,counts_qb_97,counts_qb_98,counts_qb_99
0,0001011100100011110100100001101111000011010101...,quantum,3,3,4,2,2,4,1,3,...,2,4,2,3,3,2,2,2,1,4
1,0100010001000100101101000000001010001100001011...,quantum,3,3,1,4,2,0,3,2,...,2,4,2,2,4,2,1,2,2,3
2,1011101100100101010010110011110011110100100000...,quantum,2,2,3,1,2,3,1,1,...,3,1,3,3,1,2,2,1,2,2
3,1011011000101001001011011001010000000111100100...,quantum,3,4,2,0,3,3,1,2,...,2,3,3,3,4,2,4,1,3,3
4,0001100011000111101001010110010011110111010100...,quantum,1,3,4,2,4,4,2,4,...,1,2,2,4,2,2,2,2,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15995,0011010001100100000011101110101011110010110011...,non-quantum,5,2,2,2,3,3,4,2,...,1,1,2,1,3,3,1,3,2,3
15996,1011110111111010000111001000111010010110101111...,non-quantum,1,4,3,2,2,3,2,3,...,2,2,3,4,1,1,2,0,3,3
15997,0001100000111001101010000111100110100001001000...,non-quantum,4,4,3,2,3,2,2,2,...,2,4,3,4,1,5,4,3,2,1
15998,0010110111000001110100011101010010100111000011...,non-quantum,2,3,3,2,2,4,3,3,...,1,4,2,3,3,4,0,3,2,3
15999,0011111011100101010101000110001001011000010001...,non-quantum,4,4,4,2,3,3,0,3,...,1,3,3,5,3,1,1,1,3,3

In [60]:
# For counting individual bits as features: if just using frequency 
# as the only feature, comment out to avoid redundancy: 

'''
df_testing_features = make_bit_features(df_testing_concatenated)
#df_testing_features
'''

df_testing_features = df_testing_features.drop(columns='Concatenated_Data')
df_testing_features

,quantum,counts_qb_0,counts_qb_1,counts_qb_2,counts_qb_3,counts_qb_4,counts_qb_5,counts_qb_6,counts_qb_7,counts_qb_8,...,counts_qb_90,counts_qb_91,counts_qb_92,counts_qb_93,counts_qb_94,counts_qb_95,counts_qb_96,counts_qb_97,counts_qb_98,counts_qb_99
0,quantum,3,3,4,2,2,4,1,3,3,...,2,4,2,3,3,2,2,2,1,4
1,quantum,3,3,1,4,2,0,3,2,4,...,2,4,2,2,4,2,1,2,2,3
2,quantum,2,2,3,1,2,3,1,1,3,...,3,1,3,3,1,2,2,1,2,2
3,quantum,3,4,2,0,3,3,1,2,2,...,2,3,3,3,4,2,4,1,3,3
4,quantum,1,3,4,2,4,4,2,4,2,...,1,2,2,4,2,2,2,2,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15995,non-quantum,5,2,2,2,3,3,4,2,2,...,1,1,2,1,3,3,1,3,2,3
15996,non-quantum,1,4,3,2,2,3,2,3,4,...,2,2,3,4,1,1,2,0,3,3
15997,non-quantum,4,4,3,2,3,2,2,2,4,...,2,4,3,4,1,5,4,3,2,1
15998,non-quantum,2,3,3,2,2,4,3,3,3,...,1,4,2,3,3,4,0,3,2,3
15999,non-quantum,4,4,4,2,3,3,0,3,2,...,1,3,3,5,3,1,1,1,3,3

In [61]:
# Splitting intro training and testing data: 80% and 20% split

X = df_testing_features.drop(columns=df_testing_features.columns[0]).values
y = df_testing_features[df_testing_features.columns[0]].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### GB model

In [62]:
accuracy = sk_learn_gradient_boosting(X_train, y_train, X_test, y_test)
print('GB accuracy: ', accuracy)

fitting model
model fitted, now making predictions on test data
GB accuracy:  0.7525

### Basic MLP model 
**nodes in hidden layer = size of input layer (for consistency)**

In [63]:
num_features = df_testing_features.shape[1] - 1
accuracy = sk_learn_MLP(X_train, y_train, X_test, y_test, num_features)
print('MLP accuracy: ', accuracy)

fitting model
model fitted, now making predictions on test data
MLP accuracy:  0.6890625